<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

In [1]:
#Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)

## My Jupyter Notebook

In [2]:
#Exercise 3 - Create a markdown cell for an introduction. (1 pt)

Welcome to my NoteBook

I've used Jupyter before at uni and am confident in Python.

Please not I cannot seem to access the instructions for this module as the link has expired but I will be trying my best regardless.

In [5]:
#Exercise 4 - Create a markdown cell to list data science languages. (3 pts)

Data Science Languages:
- Python
- R
- SQL
- C
- C++
- Julia
- Scala
- Java
- JavaScript

In [6]:
#Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)

Data Science Libraries:
- Python
    - Pandas
    - NumPy
    - Matplotlib
    - Seaborn
    - Plotly
    - Scikit
    - Keras
    - TensorFlow
    - PyTorch

- R
    - ggplot2
    - Iris

In [7]:
#Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)

| Area of Data Science | Open Source Tools |
| :-: | :-: |
| Relational Databases | MySQL, Postgre SQL |
| NoSQL Databases | MongoDB, Apache CouchDB/Cassandra |
| File-Based tools | Hadoop, Ceph |
| ETL | Apache Airflow/Kafke/Nifi, KubeFlow |
| Data Visualisation | PixieDust, Hue, Kibana, Apache Superset|
| Model Deployment | Apache PredictionIO, Seldon, MLeap, TensorFlow |
| Model Monitoring and Assessment | ModelDB, Prometheus, IBM AI Fairness360 |
| Code Asset Management | Git with GitHub, GitLab |
| Data Asset Management | Apache Atlas, ODP, Egeria, Kylo |

In [45]:
#Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)

5 + 7 = 12

In [14]:
#Exercise 8 - Create a code cell to multiply and add numbers. (2 pts)

In [26]:
count = 0
total = 0
while count < 12:
    total += 4
    count += 1
    print(f'{count} x 4 = {total}')

#create gap between the two sets of times tables
print('')

for i in range(1, 13):
    print(i, 'x 5 =', i * 5)

r = 5
pi = 3.14

areaOfCirc = pi * r ** 2
print('\n' + str(areaOfCirc) + ' cm', )

1 x 4 = 4
2 x 4 = 8
3 x 4 = 12
4 x 4 = 16
5 x 4 = 20
6 x 4 = 24
7 x 4 = 28
8 x 4 = 32
9 x 4 = 36
10 x 4 = 40
11 x 4 = 44
12 x 4 = 48

1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50
11 x 5 = 55
12 x 5 = 60

78.5 cm

In [27]:
#Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)

In [41]:
minutes = input('Please enter the number of minutes: ')

if minutes == '':
    minutes = 150
else:
    minutes = int(minutes)

print(f'{minutes} minutes in hours is {minutes//60} hours and {minutes - (minutes//60)*60} minutes, or {round(minutes/60, 2)} hours')

Please enter the number of minutes:  1932

1932 minutes in hours is 32 hours and 12 minutes, or 32.2 hours

In [42]:
#Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)

I can't find what objectives we are on about because the link's expired so here are some made up ones:
- Explore Jupyter Notebooks
- Learn Python and relevant libraries
- Deepen understanding of Data Science and tools that are used

In [43]:
#Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name. (2 pts)

Author's Name: Alexander Potter

In [44]:
#Exercise 12 - Share your notebook through GitHub (3 pts)

In [ ]:
Can be found at: https://github.com/Alex-935/Coursera/tree/main/Jupyter%20Notebook%20Project

In [ ]:
#Exercise 13 - Take a screenshot of the first page of the notebook. (1 pt)

In [ ]:
Can be found at: https://github.com/Alex-935/Coursera/tree/main/Jupyter%20Notebook%20Project